<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Daily Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" #content>
  <!-- secondary header for ios -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Daily Report</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- pull-to-refresh -->
  <ion-refresher (ionRefresh)="onRefresh()" slot="fixed" #refresher>
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="day-nav">
      <ion-col size="2" size-md="1">
        <ion-button class="prev" (click)="addToDay(-1)" expand="block">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8" size-md="10">
        <ion-button class="day" expand="block">
          <ion-text style="font-size: 20px">{{dateLabel}}</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="2" size-md="1">
        <ion-button class="next" (click)="addToDay(1)" expand="block">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="loading && !dataList">
      <ion-col>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!loading && dataList && dataList.length === 0">
      <ion-col>
        No data found.
      </ion-col>
    </ion-row>

    <ng-container *ngIf="dataList && dataList.length > 0">
      <ng-container *ngIf="report.symptoms">
        <ion-row>
          <ion-col class="cell">
            <h3>Symptoms</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="cell ion-color-medium" size="4" size-md="8">
            <div>Name</div>
          </ion-col>
          <ion-col class="cell ion-color-medium" size="2" size-md="1">
            <div>Max</div>
          </ion-col>
          <ion-col class="cell ion-color-medium" size="2" size-md="1">
            <div>Min</div>
          </ion-col>
          <ion-col class="cell ion-color-medium" size="2" size-md="1">
            <div>Avg</div>
          </ion-col>
          <ion-col class="cell ion-color-medium" size="2" size-md="1">
            <div># tracked</div>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let numberStats of report.symptoms.numberStats">
          <ion-col class="cell ion-color-medium" size="4" size-md="8">
            <div>{{numberStats.name}}</div>
          </ion-col>
          <ion-col class="cell ion-color-{{numberStats.maxColor}} colorbg" size="2" size-md="1">
            <div>{{numberStats.maxValue}}</div>
          </ion-col>
          <ion-col class="cell ion-color-{{numberStats.minColor}} colorbg" size="2" size-md="1">
            <div>{{numberStats.minValue}}</div>
          </ion-col>
          <ion-col class="cell ion-color-{{numberStats.avgColor}} colorbg" size="2" size-md="1">
            <div>{{numberStats.avgValue.toFixed(2)}}</div>
          </ion-col>
          <ion-col class="cell ion-color-medium" size="2" size-md="1">
            <div>{{numberStats.values.length}}</div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="cell">
            <h4>Entries</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="vertical-header colorbg ion-color-medium">
            Time
          </ion-col>
          <ion-col *ngFor="let n of report.symptoms.entries[0].numbers" class="vertical-header ion-color-medium colorbg">
            {{n.name}}
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let entry of report.symptoms.entries">
          <ion-col class="cell ion-color-medium">
            <div>{{entry.timeLabel}}</div>
          </ion-col>
          <ion-col *ngFor="let n of entry.numbers" [class.deemphasized]="n.deemphasized" class="cell ion-color-{{n.color}} colorbg">
            <div>
              {{n.value}}
            </div>
          </ion-col>
        </ion-row>
      </ng-container>

      <ng-container *ngIf="report.mitigations && report.mitigations.length > 0">
        <ion-row>
          <ion-col class="cell">
            <h3>Mitigations</h3>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of report.mitigations">
          <ion-col class="cell ion-color-medium" size="12">
            <div>{{item}}</div>
          </ion-col>
        </ion-row>
      </ng-container>

      <ng-container *ngIf="report.goodThings">
        <ion-row>
          <ion-col class="cell">
            <h3>Good Things</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="cell ion-color-medium" size="4" size-md="8">
            <div>Name</div>
          </ion-col>
          <ion-col class="cell ion-color-medium" size="2" size-md="1">
            <div>Max</div>
          </ion-col>
          <ion-col class="cell ion-color-medium" size="2" size-md="1">
            <div>Min</div>
          </ion-col>
          <ion-col class="cell ion-color-medium" size="2" size-md="1">
            <div>Avg</div>
          </ion-col>
          <ion-col class="cell ion-color-medium" size="2" size-md="1">
            <div># tracked</div>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let numberStats of report.goodThings.numberStats">
          <ion-col class="cell ion-color-medium" size="4" size-md="8">
            <div>{{numberStats.name}}</div>
          </ion-col>
          <ion-col class="cell ion-color-{{numberStats.maxColor}} colorbg" size="2" size-md="1">
            <div>{{numberStats.maxValue}}</div>
          </ion-col>
          <ion-col class="cell ion-color-{{numberStats.minColor}} colorbg" size="2" size-md="1">
            <div>{{numberStats.minValue}}</div>
          </ion-col>
          <ion-col class="cell ion-color-{{numberStats.avgColor}} colorbg" size="2" size-md="1">
            <div>{{numberStats.avgValue.toFixed(2)}}</div>
          </ion-col>
          <ion-col class="cell ion-color-medium" size="2" size-md="1">
            <div>{{numberStats.values.length}}</div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="cell">
            <h4>Entries</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="vertical-header colorbg ion-color-medium">
            Time
          </ion-col>
          <ion-col *ngFor="let n of report.goodThings.entries[0].numbers" class="vertical-header ion-color-medium colorbg">
            {{n.name}}
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let entry of report.goodThings.entries">
          <ion-col class="cell ion-color-medium">
            <div>{{entry.timeLabel}}</div>
          </ion-col>
          <ion-col *ngFor="let n of entry.numbers" [class.deemphasized]="n.deemphasized" class="cell ion-color-{{n.color}} colorbg">
            <div>
              {{n.value}}
            </div>
          </ion-col>
        </ion-row>
      </ng-container>

      <ng-container *ngIf="report.accomplishments && report.accomplishments.length > 0">
        <ion-row>
          <ion-col class="cell">
            <h3>Accomplishments</h3>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of report.accomplishments">
          <ion-col class="cell ion-color-medium" size="12">
            <div>{{item}}</div>
          </ion-col>
        </ion-row>
      </ng-container>

    </ng-container>
  </ion-grid>

  <!-- <ion-list lines="none" #logList *ngIf="dataList && dataList.length > 0">

    <ng-container *ngFor="let item of dataList">

      <app-logitem [logItem]="item.data" [logItemId]="item.doc.id" [id]="item.doc.id" (edit)="onClickEdit($event)"></app-logitem>
      
    </ng-container>

  </ion-list> -->
</ion-content>