:host {
  font-size: 14px;
}

.day-nav {
  ion-col {
    padding: 1px;
    margin: 0px;
  }
  ion-button {
    margin: 0;
    padding: 0;
  }

  .prev,
  .next {
    --border-radius: 8px;
  }

  .day::part(native) {
    border-radius: 0;
    border: 2px solid var(--ion-color-primary-shade);

    // border-right-width: 0;
    // border-left-width: 0;
  }

  .prev::part(native) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid var(--ion-color-primary-shade);
  }

  .next::part(native) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid var(--ion-color-primary-shade);
  }
}

h3 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 4px;
  margin-top: 8px;
}

h4 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 4px;
  margin-top: 4px;
}

.colorbg {
  div {
    background: rgba(var(--ion-color-base-rgb), 0.12);
  }
}

.deemphasized {
  // opacity: 0.3;
  div {
    color: var(--ion-color-step-200);
  }
}

.vertical-header {
  font-size: 12px;
  writing-mode: vertical-lr;
  text-align: end;
  padding: 8px 0px 4px 4px;
  margin: 2px;
  border-left: 2px solid var(--ion-color-base);
  border-bottom: 1px solid var(--ion-color-base);
  // background: rgba(var(--ion-color-base-rgb), 0.12);
  color: var(--ion-text-color);
}

.cell {
  font-size: 12px;
  padding: 0;
  div {
    padding: 8px 0px 4px 4px;
    margin: 2px;
    border-left: 2px solid var(--ion-color-base);
    border-bottom: 1px solid var(--ion-color-base);
    // background: rgba(var(--ion-color-base-rgb), 0.12);
    // color: var(--ion-text-color);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
