<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-segment *ngIf="ios" [(ngModel)]="segment" (ionChange)="refreshDataList()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment> -->
    <ion-title *ngIf="!showSearchbar">Health Log</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="refreshDataList()" (ionCancel)="showSearchbar=false; queryText=''" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="false && !showSearchbar" (click)="refreshDataList()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
      <ion-button *ngIf="false && !ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="false && !showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" (ionChange)="refreshDataList()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content fullscreen="true" #content>
  <!-- secondary header for ios -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Health Log</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="false">
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="refreshDataList()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <!-- pull-to-refresh -->
  <ion-refresher (ionRefresh)="onRefresh()" slot="fixed" #refresher>
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="loading && !dataList">
    <ion-row>
      <ion-col>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none" #logList *ngIf="dataList && dataList.length > 0">

    <ng-container *ngFor="let item of dataList">
      <ng-container *ngIf="item.showDatetime">
        <ion-item-divider color="primary" class="date" sticky>
          <ion-label>
            <h2>{{formatDate(item.data.time)}}</h2>
          </ion-label>
        </ion-item-divider>
      </ng-container>

      <app-logitem [item]="item.data" [id]="item.doc.id" (click)="edit(item)" [state]="item.state" [@itemState]="item.state" (@itemState.done)="onAnimationEnd($event)"></app-logitem>

      <!-- <div [id]="item.doc.id" [@itemState]="item.state" (@itemState.done)="onAnimationEnd($event)">
        <ion-item-divider>
          <ion-label>
            <h3>{{formatTime(item.data.time)}}</h3>
          </ion-label>
        </ion-item-divider>

        <ion-item button (click)="edit(item)" lines="none">
          <ion-label>
            <ng-container *ngIf="hasKeys(item.data.symptoms)">
              <h3>Symptoms:</h3>
              <p class="symptom ion-color-{{symptom.severity}}" *ngFor="let symptom of prepSymptoms(item.data.symptoms)">
                {{symptom.name}}:<ion-badge color="{{symptom.severity}}">{{symptom.value}}</ion-badge>
              </p>
            </ng-container>

            <ng-container *ngIf="hasKeys(item.data.goodThings)">
              <h3 style="margin-top:10px">Good Things:</h3>
              <p class="good-thing ion-color-{{goodThing.severity}}" *ngFor="let goodThing of prepGoodThings(item.data.goodThings)">
                {{goodThing.name}}:<ion-badge color="{goodThing.severity}}">{{goodThing.value}}</ion-badge>
              </p>
            </ng-container>

            <h3 style="margin-top:10px" *ngIf="item.data.mitigations.length">Mitigations:</h3>
            <p *ngFor="let m of item.data.mitigations" class="symptom ion-color-medium">
              {{m}}
            </p>

            <ng-container *ngIf="item.data.notes">
              <h3 style="margin-top:10px">Notes:</h3>
              <p class="notes ion-color-medium">
                {{item.data.notes}}
              </p>
            </ng-container>
          </ion-label>
        </ion-item>
      </div>
 -->
    </ng-container>

    <ion-item class="loading" button color="primary" [disabled]="loading" (click)="handleInfiniteScroll()" *ngIf="false && !noMoreData">
      <ion-label>
        <ng-container *ngIf="!loading">
          <p>Load More</p>
        </ng-container>
        <ng-container *ngIf="loading">
          <p>Loading...</p>
          <!-- <ion-spinner style="margin-left: 10px;"></ion-spinner> -->
        </ng-container>
      </ion-label>
    </ion-item>

  </ion-list>

  <!-- <ion-infinite-scroll threshold="100px" #infiniteScroll id="infiniteScroll" (ionInfinite)="handleInfiniteScroll()">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->


  <!-- <ion-list-header [hidden]="list.length === 0">
    No Items Found
  </ion-list-header> -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab (click)="add()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>