ion-fab-button {
  --background: var(--ion-color-primary);
  --background-hover: var(--ion-color-primary-tint);
  --background-focused: var(--ion-color-primary-tint);

  --color: white;
}

/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}

ion-item-divider.date {
  // --background: var(--ion-color-step-50);
  // border-top: 1px solid var(--ion-color-step-150);
}

.notes {
  white-space: normal;
}

.loading ion-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-disabled {
  opacity: 0.5;
}

ion-infinite-scroll {
  // attempt to trick the scroller into trying to
  // load more when it's not tall enough to require scrolling?
  // height: 100vh;
}

$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc,
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track="#{$track}"] ion-label {
    border-left: 2px solid $value;
    border-bottom: 1px solid $value;
    padding-left: 8px;
  }
}
