<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>{{doc ? 'Edit' : 'Add'}} Log</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formGroup">
    <ion-list lines="none">
      <ion-item>
        <ion-label>Time:</ion-label>
        <ion-datetime formControlName="time" display-format="MMM DD, YYYY hh:mm a"></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-list formArrayName="symptoms">
      <ion-item color="light" class="item-header" lines="none">
        <ion-label>
          <h2>Symptoms:</h2>
        </ion-label>
        <ion-button fill="clear" color="dark" (click)="clickCopyFromPrevious('symptoms')">
          <ion-icon name="copy-outline" slot="start"></ion-icon>Copy from prev
        </ion-button>
      </ion-item>
      <ng-container *ngFor="let symptom of symptoms.controls; let i=index">
        <ion-item-group [formGroupName]="i">
          <!-- <ion-item lines="none" class="header">
            <ion-label>Symptom {{i+1}}</ion-label>
            <ion-button slot="end" (click)="deleteSymptom(i)">Delete</ion-button>
          </ion-item> -->
          <ion-item>
            <ion-label>Name:</ion-label>
            <ion-input formControlName="name" placeholder="brainfog, etc..."></ion-input>
            <ion-button slot="end" fill="clear" color="dark" (click)="deleteFormarrayItem('symptoms', i)">
              <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label>Value:</ion-label>
            <ion-input type="number" formControlName="value" placeholder="1-10"></ion-input>
          </ion-item>
        </ion-item-group>
      </ng-container>
      <ion-item class="add" lines="none">
        <ion-button color="light" (click)="clickAddSymptom()">
          <ion-icon slot="start" name="add"></ion-icon>Add
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list formArrayName="goodThings">
      <ion-item color="light" class="item-header" lines="none">
        <ion-label>
          <h2>Good Things:</h2>
        </ion-label>
        <ion-button fill="clear" color="dark" (click)="clickCopyFromPrevious('goodThings')">
          <ion-icon name="copy-outline" slot="start"></ion-icon>Copy from prev
        </ion-button>
      </ion-item>
      <ng-container *ngFor="let goodThing of goodThings.controls; let i=index">
        <ion-item-group [formGroupName]="i">
          <ion-item>
            <ion-label>Name:</ion-label>
            <ion-input formControlName="name" placeholder="productivity, etc..."></ion-input>
            <ion-button slot="end" fill="clear" color="dark" (click)="deleteFormarrayItem('goodThings', i)">
              <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label>Value:</ion-label>
            <ion-input type="number" formControlName="value" placeholder="1-10"></ion-input>
          </ion-item>
        </ion-item-group>
      </ng-container>
      <ion-item class="add" lines="none">
        <ion-button color="light" (click)="clickAddGoodThing()">
          <ion-icon slot="start" name="add"></ion-icon>Add
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list formArrayName="mitigations">
      <ion-item color="light" class="item-header" lines="none">
        <ion-label>
          <h2>Mitigations:</h2>
        </ion-label>
      </ion-item>

      <ion-item-group *ngIf="mitigations.controls && mitigations.controls.length > 0">
        <ion-item *ngFor="let mitigation of mitigations.controls; let i=index">
          <!-- <ion-label>Name:</ion-label> -->
          <ion-input [formControlName]="i" placeholder="What I tried..."></ion-input>
          <ion-button slot="end" fill="clear" color="dark" (click)="deleteMitigation(i)">
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-item-group>

      <ion-item class="add" lines="none">
        <ion-button color="light" (click)="clickAddMitigation()">
          <ion-icon name="add"></ion-icon>Add
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list lines="none">
      <ion-item color="light" class="item-header" lines="none">
        <ion-label>
          <h2>Notes:</h2>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-textarea rows="8" formControlName="notes" placeholder="More info..."></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size="default" expand="block" (click)="onSaveClick()" [disabled]="!formGroup.valid">Save</ion-button>
        </ion-col>
        <ion-col *ngIf="doc">
          <ion-button color="danger" size="default" expand="block" (click)="onDeleteClick()">Delete</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" size="default" expand="block" (click)="dismiss()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>