<ion-item-divider>
  <ion-label>
    <h3>{{formatTime(item.time)}}</h3>
  </ion-label>
</ion-item-divider>

<ion-item button (click)="onClick()" lines="none">
  <ion-label>
    <ng-container *ngIf="hasKeys(item.symptoms)">
      <h3>Symptoms:</h3>
      <p class="symptom ion-color-{{symptom.severity}}" *ngFor="let symptom of prepSymptoms(item.symptoms)">
        {{symptom.name}}:<ion-badge color="{{symptom.severity}}">{{symptom.value}}</ion-badge>
      </p>
    </ng-container>

    <ng-container *ngIf="hasKeys(item.goodThings)">
      <h3 style="margin-top:10px">Good Things:</h3>
      <p class="good-thing ion-color-{{goodThing.severity}}" *ngFor="let goodThing of prepGoodThings(item.goodThings)">
        {{goodThing.name}}:<ion-badge color="{goodThing.severity}}">{{goodThing.value}}</ion-badge>
      </p>
    </ng-container>

    <h3 style="margin-top:10px" *ngIf="item.mitigations.length">Mitigations:</h3>
    <p *ngFor="let m of item.mitigations" class="symptom ion-color-medium">
      {{m}}
    </p>

    <ng-container *ngIf="item.notes">
      <h3 style="margin-top:10px">Notes:</h3>
      <p class="notes ion-color-medium">
        {{item.notes}}
      </p>
    </ng-container>
  </ion-label>
</ion-item>