// component element
:host {
  display: block;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  margin: 8px;
  border-radius: 8px;

  --logitem-border-color: var(--ion-color-step-500); //--ion-color-step-300
  --logitem-header-background: var(--ion-color-primary); //--ion-color-step-100
  --logitem-header-color: var(--ion-color-primary-contrast);
}

// header
ion-item-divider {
  --padding-start: 8px;
  --background: var(--logitem-header-background);
  --color: var(--logitem-header-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 1px solid var(--logitem-border-color); //var(--ion-color-step-300);
  border-right: 1px solid var(--logitem-border-color); //var(--ion-color-step-300);
  border-left: 1px solid var(--logitem-border-color); //var(--ion-color-step-300);
  border-bottom: none;
  font-weight: bold;

  // border-top: none;
  // border-bottom: 1px solid var(--ion-color-step-100);
}

.symptom,
.good-thing,
.notes {
  border-left: 2px solid var(--ion-color-base);
  border-bottom: 1px solid var(--ion-color-base);
  // background: rgba(var(--ion-color-base-rgb), 0.12);
  color: var(--ion-text-color);
  padding-left: 8px;
}

.notes {
  overflow: hidden !important;
}

.symptom,
.good-thing {
  overflow: visible;
}

ion-label {
  --padding-start: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  // overflow: visible !important;
}

h2,
h3 {
  font-weight: bold;
}

// main body of component
ion-item {
  // overflow: visible;
  --padding-start: 8px;
  border: 1px solid var(--logitem-border-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  h3,
  p {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  p {
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    // overflow: visible;

    ion-badge {
      vertical-align: middle;
      margin-left: 4px;
      color: white;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 8px;
      position: absolute;
      right: 0;
    }
  }
}

// .header {
//   --background: rgba(var(--ion-color-primary-rgb), 0.25);
// }

// .item-header {
//   // --background: var(--ion-color-step-100);
//     border-bottom: 1px solid var(--ion-color-step-150);
// }

// ion-item-group {
//   margin: 8px;
//   border: 1px solid var(--ion-color-step-150);
//   border-radius: 8px;
//   overflow: hidden;
// }

// ion-list {
//   padding: 0;
//   margin: 8px;
//   border: 1px solid var(--ion-color-step-150);
//   border-radius: 8px;
// }

// ion-label {
//   --padding-start: 8px;
//   margin-top: 8px;
//   margin-bottom: 8px;
// }

// ion-item.add {
//   --padding-start: 8px;
// }
